In [77]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
#from pandas.compat import StringIO
import random
import json

## Energy consumption data

In [3]:
with open('energy_consumption_btu.json') as f:
    data_list = json.loads(f.read())

# To organize important data in list of dictionaries
A= {'country':[],'descript':[], 'year':[], 'consumption':[] }
DF=pd.DataFrame()
for x in data_list:
    descrip= x['name']
    L= descrip.split(',')
    for y in x['data']:
        A['country'].append(L[1])
        A['descript'].append(L[0])
        year= y['date']
        val= y['value']
        A['year'].append(year)
        A['consumption'].append(val)

In [53]:
df= pd.DataFrame.from_dict(A)
replace_vals= {315532800000: '1980', 347155200000: '1981',378691200000: '1982',410227200000:'1983',441763200000:'1984',\
               473385600000:'1985', 504921600000:'1986' ,536457600000:'1987' ,567993600000:'1988' ,599616000000:'1989' ,631152000000: '1990',\
              662688000000:'1991' ,694224000000: '1992',725846400000:'1993' ,757382400000:'1994' ,788918400000:'1995' , 820454400000:'1996' ,\
              852076800000:'1997' ,883612800000: '1998', 91514880000:'1999' , 946684800000:'2000' , 978307200000:'2001' , 1009843200000:'2002' , \
              1041379200000:'2003' , 1072915200000:'2004' ,1104537600000:'2005' , 1136073600000:'2006' ,1167609600000:'2007' , 1199145600000:'2008' ,\
              1230768000000:'2009' , 1262304000000:'2010' ,1293840000000:'2011' ,1325376000000: '2012', 1356998400000:'2013' , 1388534400000:'2014', \
              1420070400000: '2015', 1451606400000:'2016' , 1483228800000:'2017' }
df=df.replace({'year': replace_vals})
df['consumption']=pd.to_numeric(df['consumption'],errors='coerce')
df= df.rename({'country': 'a_name'}, axis=1)
df['a_name']=df['a_name'].str.strip()
df['a_name']=df['a_name'].replace('United States', 'United States of America' )
df

,a_name,descript,year,consumption
0,Indonesia,Total energy consumption,1980,1.157
1,Indonesia,Total energy consumption,1981,1.260
2,Indonesia,Total energy consumption,1982,1.295
3,Indonesia,Total energy consumption,1983,1.370
4,Indonesia,Total energy consumption,1984,1.455
...,...,...,...,...
54596,Cabo Verde,Total energy consumption from renewables and o...,2013,0.001
54597,Cabo Verde,Total energy consumption from renewables and o...,2014,0.001
54598,Cabo Verde,Total energy consumption from renewables and o...,2015,0.001
54599,Cabo Verde,Total energy consumption from renewables and o...,2016,0.001
54600,Cabo Verde,Total energy consumption from renewables and o...,2017,0.001

In [57]:
df['descript'].unique()

array(['Total energy consumption', 'Total energy consumption from coal',
       'Total energy consumption from natural gas',
       'Total energy consumption from petroleum and other liquids',
       'Total energy consumption from nuclear',
       'Total energy consumption from renewables and other'], dtype=object)

## Trade data

In [58]:
dfex= pd.read_csv('data/Database_S1.csv')
dfex.columns=['Ind','Country A', 'Country B', 'Year', 'a_name', 'b_name','imports','exports']
dfex = dfex.drop('Ind', 1)

In [59]:
dfc= pd.read_csv('data/Table_S6.csv')
dfex= pd.merge(dfex, dfc)
dfex['Year']= dfex['Year'].astype(str)
dfex= dfex.rename({'Year': 'year'}, axis=1)

In [60]:
dfex['a_name'].unique()

array(['United States of America', 'Canada', 'Bahamas', 'Cuba', 'Haiti',
       'Dominican Republic', 'Jamaica', 'Trinidad and Tobago', 'Barbados',
       'Dominica', 'Grenada', 'St. Lucia',
       'St. Vincent and the Grenadines', 'Antigua & Barbuda',
       'St. Kitts and Nevis', 'Mexico', 'Belize', 'Guatemala', 'Honduras',
       'El Salvador', 'Nicaragua', 'Costa Rica', 'Panama', 'Colombia',
       'Venezuela', 'Guyana', 'Suriname', 'Ecuador', 'Peru', 'Brazil',
       'Bolivia', 'Paraguay', 'Chile', 'Argentina', 'Uruguay',
       'United Kingdom', 'Ireland', 'Netherlands', 'Belgium',
       'Luxembourg', 'France', 'Switzerland', 'Spain', 'Portugal',
       'Germany', 'Poland', 'Austria', 'Hungary', 'Czech Republic',
       'Slovakia', 'Italy', 'Malta', 'Albania', 'Montenegro', 'Macedonia',
       'Croatia', 'Yugoslavia', 'Bosnia and Herzegovina', 'Kosovo',
       'Slovenia', 'Greece', 'Cyprus', 'Bulgaria', 'Moldova', 'Romania',
       'Russia', 'Estonia', 'Latvia', 'Lithuania', 'Ukraine', 'Belarus',
       'Armenia', 'Georgia', 'Azerbaijan', 'Finland', 'Sweden', 'Norway',
       'Denmark', 'Iceland', 'Cape Verde', 'Sao Tome and Principe',
       'Guinea-Bissau', 'Equatorial Guinea', 'Gambia', 'Mali', 'Senegal',
       'Benin', 'Mauritania', 'Niger', 'Ivory Coast', 'Guinea',
       'Burkina Faso', 'Liberia', 'Sierra Leone', 'Ghana', 'Togo',
       'Cameroon', 'Nigeria', 'Gabon', 'Central African Republic', 'Chad',
       'Congo', 'Democratic Republic of the Congo', 'Uganda', 'Kenya',
       'Tanzania', 'Burundi', 'Rwanda', 'Somalia', 'Djibouti', 'Ethiopia',
       'Eritrea', 'Angola', 'Mozambique', 'Zambia', 'Zimbabwe', 'Malawi',
       'South Africa', 'Namibia', 'Lesotho', 'Botswana', 'Swaziland',
       'Madagascar', 'Comoros', 'Mauritius', 'Seychelles', 'Morocco',
       'Algeria', 'Tunisia', 'Libya', 'Sudan', 'South Sudan', 'Iran',
       'Turkey', 'Iraq', 'Egypt', 'Syria', 'Lebanon', 'Jordan', 'Israel',
       'Saudi Arabia', 'Yemen', 'Kuwait', 'Bahrain', 'Qatar',
       'United Arab Emirates', 'Oman', 'Afghanistan', 'Turkmenistan',
       'Tajikistan', 'Kyrgyzstan', 'Uzbekistan', 'Kazakhstan', 'China',
       'Mongolia', 'Taiwan', 'North Korea', 'South Korea', 'Japan',
       'India', 'Bhutan', 'Pakistan', 'Bangladesh', 'Myanmar',
       'Sri Lanka', 'Maldives', 'Nepal', 'Thailand', 'Cambodia', 'Laos',
       'Vietnam', 'Malaysia', 'Singapore', 'Brunei', 'Philippines',
       'Indonesia', 'East Timor', 'Australia', 'Papua New Guinea',
       'New Zealand', 'Vanuatu', 'Solomon Islands', 'Kiribati', 'Tuvalu',
       'Fiji', 'Tonga', 'Nauru'], dtype=object)

In [62]:
dfex= pd.merge(dfex, df[(df['descript']=='Total energy consumption')], on= ['a_name','year'], how='inner')

,Country A,Country B,year,a_name,b_name,imports,exports,Normalized hyperbolic distance,Normalized angular distance,Connection probability,descript,consumption
0,2,20,1997,United States of America,Canada,171440.000000,145143.00,0.448786,0.326905,0.688153,Total energy consumption,94.507
1,2,31,1997,United States of America,Bahamas,179.500000,1472.77,0.430194,0.094569,0.858089,Total energy consumption,94.507
2,2,40,1997,United States of America,Cuba,-9.000000,10.12,0.481677,0.482180,0.563187,Total energy consumption,94.507
3,2,41,1997,United States of America,Haiti,197.100000,549.78,0.429153,0.077870,0.866064,Total energy consumption,94.507
4,2,42,1997,United States of America,Dominican Republic,4444.700000,4726.42,0.427209,0.074238,0.871792,Total energy consumption,94.507
...,...,...,...,...,...,...,...,...,...,...,...,...
184560,970,990,2009,Nauru,Samoa,0.000846,-9.00,0.916304,0.556618,0.000069,Total energy consumption,0.001
184561,970,990,2010,Nauru,Samoa,0.001074,-9.00,0.889837,0.451535,0.000021,Total energy consumption,0.001
184562,970,990,2011,Nauru,Samoa,0.001203,-9.00,0.912098,0.531944,0.000102,Total energy consumption,0.002
184563,970,990,2012,Nauru,Samoa,0.001254,-9.00,0.867721,0.522175,0.000070,Total energy consumption,0.001
184564,970,990,2013,Nauru,Samoa,0.001321,-9.00,0.827469,0.339498,0.000634,Total energy consumption,0.001

In [65]:
# Get trade shares with partners 
dfex['exports_tot']= dfex.groupby(['Country A','year'])['exports'].transform('sum')
dfex['imports_tot']= dfex.groupby(['Country A','year'])['imports'].transform('sum')
dfex['exp_share']= dfex['exports']/dfex['exports_tot']
dfex['imp_share']= dfex['imports']/dfex['imports_tot']

In [67]:
# Get energy consumption of partners
df= df.rename({'a_name': 'b_name'}, axis=1)
dfex= pd.merge(dfex, df[(df['descript']=='Total energy consumption')], on= ['b_name','year'], how='inner')

In [76]:
dfex= dfex.rename({'consumption_x': 'consumption','consumption_y': 'consumption_partner'}, axis=1)
dfex = dfex.drop(['descript_x','descript_y'], axis=1)
dfex

,Country A,Country B,year,a_name,b_name,imports,exports,Normalized hyperbolic distance,Normalized angular distance,Connection probability,consumption,exports_tot,imports_tot,exp_share,imp_share,consumption_partner
0,2,20,1997,United States of America,Canada,171440.000000,145143.000000,0.448786,0.326905,0.688153,94.507,759240.625892,897110.000000,1.911686e-01,0.191103,12.214
1,2,40,1997,United States of America,Cuba,-9.000000,10.120000,0.481677,0.482180,0.563187,94.507,759240.625892,897110.000000,1.332911e-05,-0.000010,0.471
2,20,40,1997,Canada,Cuba,280.450000,266.130000,0.529739,0.185426,0.652285,12.214,49001.107612,66186.113155,5.431102e-03,0.004237,0.471
3,2,41,1997,United States of America,Haiti,197.100000,549.780000,0.429153,0.077870,0.866064,94.507,759240.625892,897110.000000,7.241183e-04,0.000220,0.022
4,20,41,1997,Canada,Haiti,3.370000,17.170000,0.835331,0.361072,0.001405,12.214,49001.107612,66186.113155,3.504002e-04,0.000051,0.022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176817,820,947,2005,Malaysia,Tuvalu,-9.000000,0.037198,0.818017,0.317059,0.002269,2.363,37606.270351,23553.592970,9.891382e-07,-0.000382,0.000
176818,840,947,2005,Philippines,Tuvalu,-9.000000,0.070145,0.824673,0.317132,0.001951,1.124,1047.452299,1882.439914,6.696725e-05,-0.004781,0.000
176819,850,947,2005,Indonesia,Tuvalu,-9.000000,0.696567,0.783319,0.322603,0.002743,4.648,3676.083893,2844.036706,1.894862e-04,-0.003165,0.000
176820,900,947,2005,Australia,Tuvalu,0.076731,2.700000,0.547258,0.016170,0.206075,5.257,7206.400000,6445.811999,3.746670e-04,0.000012,0.000
176821,920,947,2005,New Zealand,Tuvalu,0.009458,1.420000,0.539375,0.013268,0.248720,0.813,552.280732,39.973978,2.571156e-03,0.000237,0.000